---
import { Image } from 'astro:assets'
import CarlosFace from '@assets/images/charls-face.png'

import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'
import Button from '@components/ui/Button.astro'
import Link from '@components/ui/Link.astro'

import { getCollection } from 'astro:content'
import ButtonLine from '@components/ui/ButtonLine.astro'
import WorkCard from '@components/ui/WorkCard.astro'

const allWorks = await getCollection('works')
---

<Layout
    title="Carlos Mancilla | UI & UX Designer | Web Developer"
    description="Learn how to build web apps with Astro."
>
    <main>
        <Section>
            <p class="text-2xl mb-4 font-regular">Hello! I'm Carlos.</p>
            <h1 class="relative">
                Designing digital product with emphasis on <span
                    class="text-primary">visual design</span
                >
                <Image
                    src={CarlosFace}
                    alt="Logo"
                    class="absolute -right-20 -bottom-10 drop-shadow-2xl"
                    loading="eager"
                />
            </h1>

            <div class="flex items-center justify-between mt-16">
                <Button href="/contact">Let's Talk</Button>
                <p class="text-2xl max-w-xl">
                    A multidisciplinary designer harnessing the power of design
                    to achieve online goals.
                </p>
            </div>
        </Section>
        <Section>
            <div class="flex gap-10">
                <div
                    class="w-1/3 overflow-hidden dark:bg-slate-900 bg-slate-200 rounded-2xl"
                >
                </div>
                <div class="w-2/3 flex flex-col gap-9 items-start py-7">
                    <div class="flex flex-col gap-4">
                        <h2>
                            Design that sparks engagement and inspires action
                        </h2>
                        <p class="mt-5">
                            Concentrate on your primary objective which is
                            expanding your business, and leave it to me to
                            ensure that your business is efficiently portrayed
                            in the digital realm and distinguishes itself from
                            the rivals.
                        </p>
                    </div>
                    <Link href="/about">About me</Link>
                </div>
            </div>
        </Section>
        <Section>
            <h2>Discover my latest works</h2>
            <div class="grid grid-cols-2 gap-10 mt-10">

                {
                    allWorks.map((work) => {
                        return (
                            <WorkCard title={work.data.title} url={`works/${work.slug}`} image={work.data.image} category={work.data.category}/>
                        )
                    })
                }
            </div>
            <div class="text-center flex items-center w-full mx-auto justify-center mt-16">
                <Link href="/works">View All Works</Link>
            </div>
        </Section>
        <Section>
            <div class="flex justify-between items-end">
                <h2 class="md:max-w-screen-md">Sometimes, I also write and share some insights</h2>
                <ButtonLine href="/blog">View All Insights</Button>
            </div>
        </Section>
    </main>
</Layout>
