---
import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'

const EXPERIENCE = [
    {
        title: 'Wordpress Developer',
        company: 'Marketeros Agencia',
        date: '2020 - Now',
    },
    {
        title: 'UX/UI Designer',
        company: 'Marketeros Agencia',
        date: '2019 - 2020',
    },
    {
        title: 'SEO Specialist',
        company: 'Marketeros Agencia',
        date: '2018 - 2019',
    },
    {
        title: 'Web Designer | Community Manager',
        company: 'Corporación Educativa Indoamericana',
        date: '2014 - 2017',
    },
]

const EDUCATION = [
    {
        title: 'Diseño Visual',
        university: 'Fundación Universitaria Panamericana',
        date: '2017 - 2020',
    },
    {
        title: 'Tecnología en Diseño Gráfico',
        university:
            'Corporación Internacional para el Desarrollo Educativo - CIDE',
        date: '2011 - 2014',
    },
    {
        title: 'Curso de Javascript ',
        university: 'Platzi',
        date: '2022',
    },
    {
        title: 'Curso de Desarrollo en Wordpress',
        university: 'Platzi',
        date: '2022',
    },
]
---

<Layout
    title="Sobre mí | Carlos Mancilla"
    description="Como diseñador con más de 10 años de experiencia, me especializo en crear interfaces intuitivas y centradas en el usuario, así como en el desarrollo de sitios web, para una amplia gama de productos y experiencias digitales."
>
    <Section>
        <div class="md:text-center md:max-w-screen-xl mx-auto">
            <h1 class="mb-8">
                <spasn class="text-primary">Acerca de mí</spasn>, un Diseñador
                Visual viviendo en Bogotá
            </h1>
            <p class="text-2xl md:max-w-screen-md mx-auto">
                Como diseñador con más de 10 años de experiencia, me especializo
                en crear interfaces intuitivas y centradas en el usuario, así
                como en el desarrollo de sitios web, para una amplia gama de
                productos y experiencias digitales.
            </p>
        </div>
    </Section>
    <Section>
        <div class="grid md:grid-cols-2 gap-12">
            <h2>Mi experiencia laboral previa</h2>
            <div>
                {
                    EXPERIENCE.map((exp) => {
                        return (
                            <div class="flex items-center justify-between border-b-2 px-4 py-7 border-primary last-of-type:border-b-0 border-opacity-20 hover:bg-slate-200 hover:dark:bg-slate-900 hover:bg-opacity-40 transition-all">
                                <div>
                                    <h4 class="text-2xl">{exp.title}</h4>
                                    <span class="text-lg font-light opacity-60">
                                        {exp.company}
                                    </span>
                                </div>
                                <span class="text-xl">{exp.date}</span>
                            </div>
                        )
                    })
                }
            </div>
        </div>
    </Section>
    <Section
        class="bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.2),rgba(255,255,255,0.9))] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.1),rgba(255,255,255,0))]"
    >
        <h2 class="mb-16">Mi Educación</h2>
        {
            EDUCATION.map((edu) => {
                return (
                    <div class="flex items-center justify-between border-b-2 px-4 py-7 border-primary last-of-type:border-b-0 border-opacity-20 hover:bg-slate-200 hover:dark:bg-slate-950 hover:bg-opacity-10 transition-all">
                        <div>
                            <h4 class="text-2xl">{edu.title}</h4>
                            <span class="text-lg font-light opacity-60">
                                {edu.university}
                            </span>
                        </div>
                        <span class="text-xl opacity-80 ">{edu.date}</span>
                    </div>
                )
            })
        }
    </Section>
</Layout>
