---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <article class="container mx-auto px-5 max-w-8xl">
        <header class="mt-16 md:flex gap-20 justify-between items-start">
            <div class="md:w-2/5">
                <span
                    >{
                        frontmatter.pubDate
                            ? frontmatter.pubDate.toLocaleDateString('es-ES', {
                                  year: 'numeric',
                                  month: 'long',
                                  day: 'numeric',
                              })
                            : ''
                    }</span
                >
                <h1
                    transition:name={frontmatter.title}
                    class="font-semibold mb-5"
                >
                    {frontmatter.title}
                </h1>
                <span class="mb-16 block text-slate-700 text-2xl"
                    ><b>Client:</b> {frontmatter.client}</span
                >
                <span
                    class="dark:text-slate-400 font-light text-[17px] flex gap-2 text-slate-400 my-3"
                >
                    {
                        frontmatter.category.map((cat: string) => {
                            return (
                                <span class="rounded-full border px-3 border-slate-400">
                                    {cat}
                                </span>
                            )
                        })
                    }
                </span>
            </div>
            <Image
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
                transition:name={frontmatter.image.alt}
                class="rounded-3xl md:w-3/5"
                loading={'eager'}
            />
        </header>
        <div class="max-w-screen-md mx-auto mt-10 content-work mb-10">
            <slot />
        </div>
    </article>
</Layout>
