---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

const { title, url, image, category } = Astro.props
---

<article>
    <a
        href={url}
        class="group block overflow-hidden duration-700 transition rounded-2xl"
    >
        <div class="overflow-hidden dark:bg-slate-900 bg-slate-200 rounded-2xl">
            <Image
                src={image.url}
                alt={image.alt}
                class="aspect-auto w-full rounded-2xl group-hover:scale-105 transition-all duration-500"
                transition:name={image.alt}
            />
        </div>

        <div class="flex items-center justify-between mt-5">
            <div>
                <h3 class="font-semibold text-2xl" transition:name={title}>
                    {title}
                </h3>
                <span
                    class="dark:text-slate-400 font-light text-[17px] flex gap-2 text-slate-400 my-3"
                >
                    {
                        category.map((cat: string) => {
                            return (
                                <span class="rounded-full border px-3 border-slate-400">
                                    {cat}
                                </span>
                            )
                        })
                    }
                </span>
            </div>
            <span
                class="border border-slate-800 px-7 py-3 rounded-full dark:border-slate-100 text-slate-800 dark:text-slate-100 group-hover:bg-primary transition group-hover:border-primary group-hover:text-white"
            >
                <Icon name="solar:arrow-right-broken" width={24} />
            </span>
        </div>
    </a>
</article>
